@mixin wide {
  width: 100vw;
  margin-left: 1rem;
  margin-right: 1rem;
}

@mixin xy-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

@mixin watch-video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  font-style: italic;
  text-align: center;
  padding: 1vw;
  border: red 1vw solid;
}

@mixin listen-to-the-sound {
  @include watch-video;
}

.card {
  margin: 0;
}

.forgetting {
  color: blue;
  text-align: left;

  display: flex;

  h1 {
    margin-left: 0;
    margin-right: 0;
    width: auto;
    max-width: 100vw;
    overflow: hidden;
  }

  //
  // default question and answer styles
  //
  .forgetting-question,
  .forgetting-answer {
    margin-left: 1rem;
    margin-right: 1rem;
  }


  //
  // watch video and sound sign
  //

  // disable by default
  .watchVideoQuestion,
  .watchVideoAnswer,
  .listenToTheSoundQuestion,
  .listenToTheSoundAnswer {
    display: none;
  }

  &.videoQuestion,
  &.videoAnswer,
  &.soundQuestion,
  &.soundAnswer {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
  }

  &.videoQuestion {
    .watchVideoQuestion {
      @include watch-video;
    }
  }

  &.videoAnswer {
    .watchVideoAnswer {
      @include watch-video;
    }

  }

  &.soundQuestion {
    .listenToTheSoundQuestion {
      @include listen-to-the-sound;
    }
  }

  &.soundAnswer {
    .listenToTheSoundAnswer {
      @include listen-to-the-sound;
    }
  }
}

.forgetting.pinChatMessage {
  @include xy-center;

  .forgetting-question {
    // @include wide;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 50vw;
    text-align: justify;
    font-size: 2vw;
    font-weight: bold;

    border: blue 0.4vw solid;
    padding: 0.4vw;

  }

  .forgetting-answer {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;
    width: 50vw;
  }
}

.forgetting.airportLand {
  @include xy-center;

  &.question-container {
    background: gold;
  }

  .forgetting-question {
  }

  .forgetting-answer {
    color: blue;
    text-align: justify;
    font-size: 10vw;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.forgetting.lostArchive {
  @include xy-center;

  .forgetting-answer {
    font-size: 10vw;
    text-align: justify;

  }
}

.forgetting.deleteMessage {
  @include xy-center;

  .forgetting-question {
    font-style: italic;
    font-size: 2vw;
    padding: 0.6vw;
    border: blue 0.2vw solid;
  }
}

.forgetting.floorOfRest {
  @include xy-center;

  .forgetting-answer {
    border: black 0.4vw solid;
  }
}

.forgetting.insideOfATank {
  @include xy-center;

  &.answer-container {
    background: gold;
  }
}

//
//
// revolution time styles
//
//

%big-red-caption {
  @include xy-center;

  width: 100%;
  text-align: center;
  font-size: 20vw;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.6vw;
  color: red;
}

.forgetting.a133bpm,
.forgetting.a1kHz,
.forgetting.a60bpm,
.forgetting.everyDay,
.forgetting.halfOfAnHour,
.forgetting.dummy {
  .forgetting-question {
    @extend %big-red-caption;
  }
}

.forgetting.revolutionTime .forgetting-question {
  font-size: 12vw;
}

// .forgetting.halfOfAnHour.lt .forgetting-question {
//   font-size: 16vw;
// }

//
//
// rockets styles
//
//
.forgetting.rockets,
.forgetting.rocket7,
.forgetting.rocket134 {
  .forgetting-question {
    @extend %big-red-caption;
    font-size: 10vw;

    // span {
    //   color: blue;
    // }
  }
}

//
//
// call to action styles
//
//
.forgetting.phonesDeleteInfo {
  .forgetting-question,
  .forgetting-answer {
    @extend %big-red-caption;
    font-size: 5vw;
    text-align: left;
  }

  .forgetting-answer {
    text-align: right;
  }
}

//
//
// railWar
//
//
.forgetting.railWar {
  .forgetting-answer {
    @extend %big-red-caption;
    font-size: 10vw;
    text-align: left;
  }
}

//
//
// infrastructural time
//
//
.forgetting.infrastructuralTime {
  .forgetting-question {
    @extend %big-red-caption;
    font-size: 5vw;
    text-align: justify;
  }
}

//
//
// technological obsessions
//
//
.forgetting.technologicalObsession {
  @include xy-center;

  .forgetting-answer,
  .forgetting-question {
    // @extend %big-red-caption;
    font-weight: bold;
    font-size: 7vw;
    text-align: center;
    width: 50vw;
    margin-left: 1rem;
    margin-right: 1rem;

    border: blue 0.4vw solid;
    padding: 0.4vw;


  }
}

// .card {
//   font-family: arial;
//   font-size: 20px;
//   text-align: center;
//   color: black;
//  margin: 0;
// }

// .forgetting {
//  min-width: 100vw;
//  height: 100vh;
// }

// .forgetting-question {
//  padding-top: 2rem;
//  width: 50vw;
//  margin-left: 25vw;
// }

// .forgetting-answer {
//  padding-top: 2rem;
//  width: 50vw;
//  margin-left: 25vw;
// }
